* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #141313;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
}
.div {
  display: flex;
  flex-direction: column;
}
.hex {
  background-color: #000000;
  width: 105px;
  padding: 6px 10px;
  border-radius: 4px;
}
#btn {
  border: none;
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px 14px;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
